/* Hide scrollbar but allow scrolling */
.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

.recharts-pie path:focus {
  outline: none !important;
}
select:focus,
option:focus {
  outline: none;
  box-shadow: none;
}
